@import "../../config/variables";

#loginPage {
    width: 100%;
    max-width: 16em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1em;

    form {
        display: flex;
        flex-direction: column;
        gap: 0.6em;
        align-items: stretch;
        justify-content: center;

        button[type="submit"] {
            align-self: center;
            font-size: 1em;
            display: grid;
            place-items: center;

            > * {
                opacity: 1;
                transition: 0.3s;
                grid-area: 1/1/2/2;
            }

            .invisible {
                opacity: 0;
            }
        }
    }

    .loginPageForgotPass {
        align-self: center;
    }
}

#modalSubmit {
    font-size: 1em;
    display: grid;
    place-items: center;

    > * {
        opacity: 1;
        transition: 0.3s;
        grid-area: 1/1/2/2;
    }

    .invisible {
        opacity: 0;
    }
}
